<%- include("partials/header") %>
<h1>Add item</h1>
<% if(errors != undefined){ %>
    <ul>
    <% errors.forEach(function(error){ %>
        <li><%= error.msg%></li>
    <% }) %>
</ul>
<% } %>
<form method="POST" action="/add">
    <label>Name</label>
    <input required type="text" name="name">
    <br>
    <label>Description</label>
    <input required type="text" name="description">
    <br>
    <label>Item Code</label>
    <input required type="text" name="code">
    <br>
    <label>Quantity</label>
    <input required type="number" name="quantity">
    <br>
    <label>Weigh per item</label>
    <input required type="number" name="weigh_per_item">
    <br>
    <label>Location</label>
    <input type="text" name="location">
    <br>
    <input type="submit" value="Submit">
</form>
<%- include("partials/footer") %>